@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html,
html * {
    font-family: 'Sora', sans-serif !important;
}

body {
    background-color: #1C2430;
    margin: 0;
    /* padding: 15px; */
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    border-radius: 10%;
}

h1 {
    margin: 0;
    text-align: center;
    background: linear-gradient(90deg, #0038FF 2.2%, #FFFFFF 88.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-bottom: 5%;
    font-weight: 900;
}

#settings-button {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: min-content;
}

#settings-button img {
    height: 24px;
    width: auto;
    filter: grayscale(100%) brightness(70%);
}

#settings-button:hover img {
    height: 24px;
    width: auto;
    filter: grayscale(100%) brightness(100%);
}

button {
    background-color: #018B7D;
    color: #FFFFFF;
    padding: 4%;
    display: block;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    margin: 3% auto;
    width: 60%;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #2ABFAC;
}

button:disabled {
    background-color: #878787;
    cursor: default;
}

h3 {
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    filter: grayscale(100%) brightness(80%);
}

#main-content,
#settings-content {
    margin: 5% auto;
}

#framework {
    margin: 6px auto;
    width: 90%;
}

#automate-section {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.toggles {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: auto;
}

.toggles button {
    outline: none;
    text-align: center;
    margin: 3px;
    padding: 0.6rem 0.6rem;
    flex: 1;
    font-weight: 600;
}

.toggles button.disabled,
.toggle {
    background-color: #5b6a85;
    color: #1C2430;
    border-radius: 0.5em;
    cursor: pointer;
}

.toggles label {
    color: #FFFFFF;
    margin-bottom: 5px;
    padding-top: 0.3rem;
}

.toggle {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.toggles button.enabled {
    background-color: #1C2430;
    color: #FFFFFF;
}

#programming-language button.available:hover {
    color: #FFFFFF;
}

#framework button:hover {
    color: #FFFFFF;
}

#status,
#optional-settings-status {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    height: 15px;
}

#optional-settings-status {
    margin-top: 7px;
}

.ellipsis {
    display: inline-block;
    animation: ellipsis 1.5s steps(3, end) infinite;
}

#screenshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem;
}

#screenshot-image {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

#optional-settings {
    margin: 5% auto;
    width: 95%;
    display: flex;
    flex-direction: column;
}

#optional-settings input,
#openai-models {
    color: #1C2430;
    background-color: #8fa3c5;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    transition: border-color 0.3s ease;
    margin: 3px;
    padding: 0.6rem 0.6rem;
}

#openai-models {
    text-align: justify;
    text-align-last: center;
    -moz-text-align-last: center;
}

#optional-settings input:disabled {
    background-color: #5b6a85;
    color: #878787;
}

#optional-settings input:focus {
    border-color: #FFFFFF;
    outline: none;
    color: #FFFFFF;
    background-color: #1C2430;
}

#optional-settings input:hover {
    color: #FFFFFF;
}

#optional-settings input::placeholder {
    color: #1C2430;
    font-weight: 500;
    font-style: italic;
    text-align: left;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setting input{
    flex-grow: 1;
    margin-right: 10px;
}

.setting select {
    width: 259px;
    margin-right: 10px;
}

.info-icon {
    width: 20px; 
    height: 20px;
    align-self: center;
}


@keyframes ellipsis {

    0%,
    100% {
        text-indent: 0;
    }

    33% {
        text-indent: -0.33em;
    }

    66% {
        text-indent: -0.66em;
    }
}