@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html,
html * {
    font-family: 'Sora', sans-serif !important;
}

body {
    background-color: #1C2430;
    margin: 0;
    padding: 15px;
    width: 300px;
    border-radius: 10%;
}

h1 {
    margin: 0;
    text-align: center;
    background: linear-gradient(90deg, #0038FF 2.2%, #FFFFFF 88.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-bottom: 5%;
    font-weight: 900;
}

#settings-button {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: min-content;
}

/* Style for the image inside the button */
#settings-button img {
    height: 24px; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
}

button {
    background-color: #018B7D;
    color: #FFFFFF;
    padding: 4%;
    display: block;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    margin: 5% auto;
    width: 60%;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #2ABFAC;
}

button:disabled {
    background-color: #878787;
    cursor: default;
}

#settings-content {
    margin: 5% auto;
}

#framework {
    margin: 5% auto;
    width: 90%;
}

#automate-section {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align children (sections) centrally */
    width: 100%; /* Adjust as needed */
}

.toggles {
    display: flex;
    justify-content: center; /* Center buttons within the toggle */
    width: 100%; /* Take full width of the section */
    align-items: center;
    margin: auto;
}

.toggles button {
    outline: none;
    text-align: center;
    margin: 3px;
    padding: 0.6rem 0.6rem;
    flex: 1;
    font-weight: 600;
}

.toggles button.disabled,
.toggle {
    background-color: #3F4A5E;
    color: #1C2430;
    border-radius: 0.5em;
    cursor: pointer;
}

.toggles label {
    color: #FFFFFF;
    margin-bottom: 5px;
    padding-top: 0.3rem;
}

.toggle {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.toggles button.enabled {
    background-color: #1C2430;
    color: #FFFFFF;
}

#settings-content button.available:hover {
    color: #FFFFFF;
}

#generate-tests {
    margin-top: 4% !important;
}

#status {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

.ellipsis {
    display: inline-block;
    animation: ellipsis 1.5s steps(3, end) infinite;
}

@keyframes ellipsis {

    0%,
    100% {
        text-indent: 0;
    }

    33% {
        text-indent: -0.33em;
    }

    66% {
        text-indent: -0.66em;
    }
}